@use '_variaveis';

// main section 
.main {background-color: blue;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 98px;
    width: 1280px;
    height: 100vh;

    @media (max-width: 768px) {
        width: 768px;
        height: auto;
        flex-direction: column;
    }
    &__container {
        width: 50%;

        @media (max-width: 768px) {
            width: 80%;
        }

        .titles{
            @media (max-width: 768px) {
                margin: 0 auto;
            }
        }
        
        .text {
            text-align: justify;
            line-height: 1.3rem;
        }
    }
    &__image__container {
        width: auto;
        img {
            width: 670px;
        }

        @media (max-width: 768px) {

        }
    }
}
// fourth-season section 
.fourth-season {
    padding-top: 98px;
    width: 1280px;
    margin: 0 auto;
    background-color: red;

    @media (max-width: 768px) {
        width: 768px;
    }

    @media (max-width: 425px) {
        width: 425px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        &__trailer {
            margin: 40px 0;
        }
    }
}
// seasons section 
.seasons {background-color: green;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1280px;
    height: 900px;
    padding-top: 98px;

    @media (max-width: 768px) {
        width: 768px;
        height: auto;
        .titles {
            margin: 0 auto;
        }
    }
    
    
    .seasons__tabs {
        display: flex;
        margin: 1.5rem 0;
        justify-content: start;
        align-items: center;
        width: max-content;

        @media (max-width: 768px) {
            margin: 1rem auto;
        }
        &__button {
            &:nth-child(1){
                margin-left: 0;
            }
            &--is-active {
                border-bottom: 4px solid variaveis.$textColorSecundary;
            }
            cursor: pointer;
            color: variaveis.$textColorPrimary;
            background-color: transparent;
            margin: 0 1vw;
            padding-bottom: 5px;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            border-bottom: 4px solid rgba(0, 0, 0, 0);
        }
    }
    .seasons__list {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        width: 1280px;
        gap: 1.5%;
        margin: 42px auto 0 auto;
        opacity: 0;
        list-style: none;
        
        
        @media (max-width: 768px) {
            width: 90%;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 1.2rem auto;
            grid-template-columns: repeat(2, 1fr);
        }
        &--is-active {
            display: grid;
            animation: fadeIn 0.6s ease forwards;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
            }
        &__item {
            position: relative;
            cursor: pointer;
            transition: .3s ease;
            &:hover {
                transform: scale(1.05);
            }
            a {
                
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }
            .episode-id {
                position: absolute;
                top: 10%;
                margin-left: 8px;
                padding: 10px;
                &__number {
                    text-transform: capitalize;
                    font-size: 14px;
                    letter-spacing: 1.2px;
                }

            }
            .titles{
                position: absolute;
                text-align: start;
                margin-left: 8px;
                padding: 10px;
                bottom: 10%;
                font-size: 18px;
                width: 100%;
                .episode-name {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: capitalize;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}

// casting section 
.casting {background-color: red;
    padding-top: 98px;
    width: 1280px;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 768px;
    }
    @media (max-width: 425px) {
        width: 425px;
    }
    .section-banner {
        display: flex;
        justify-content: center;
        img {
            width: 780px;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
    }
    }

    // faq section 
    .faq {background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1280px;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 768px;
        }
        @media (max-width: 425px) {
            width: 425px;
        }
        
        .title {
            align-items: center;
        }
    
        &__questions {
            width: 60%;
            list-style: none;
            
            &__item {
                margin-bottom: 16px;
                
                &__question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    margin-top: 32px;
                    cursor: pointer;
            }

            &__icon {
                color: variaveis.$textColorPrimary;
                font-size: 38px;
            }
    
            &__answer {
                width: 90%;
                text-align: justify;
                margin-top: 6px;
                height: 0;
                overflow: hidden;
                transition: height 0.5s ease;
                
                &::before {
                    content: ''; 
                    display: block;
                    height: 24px; 
                }
            }
        }
    }
}

// footer 
    .footer {
        width: 1280px;
        margin-top: 65px;
        margin-bottom: 65px;
        
        @media (max-width: 768px) {
            width: 768px;
        }
        @media (max-width: 425px) {
            width: 425px;
        }
        &__container {
            img {
                display: flex;
                margin: 0 auto;
            }
            &__text {
                margin-top: 16px;
                text-align: center;
                p{
                    color: variaveis.$textColorPrimary;
                }
            }
        }
    }