@use '_variaveis';
@use '_header';
@use '_hero';
@use '_sections';
@use '_carousel';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: variaveis.$backgroundColorPrimary;
}
section {
    transition: all 0.5s ease-in-out;
}
// text styles 
.colored-word {
    color: variaveis.$textColorSecundary;
}
.title, .section-title {
    color: variaveis.$textColorPrimary;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 425px) {
        font-size: 18px;
    }
}

.subtitle, .section-subtitle {
    color: variaveis.$textColorPrimary;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 16px;
    }

}

.text {
    color: variaveis.$textColorSecundary;
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.titles {
    display: flex;
    align-items: baseline;
    width: max-content;
    .section-title {
        margin-right: 6px;
        margin-bottom: 14px;
        
    }
    .section-subtitle {
        color: rgba(255, 255, 255, 0.438);
    }   
}
